In [ ]:
!flask initdb --drop
# 注意用感叹号即可插入系统shell中的命令, 否则语句是执行在python shell中的.
# 该命令是app.py中定义的cli命令, 用于初始化数据库(先清理, 然后创建一个新的空数据库)
# 注意根据initdb的定义 --drop参数指先清空数据库

In [6]:
# 创建四个作者
from app import Author,db
au = Author(name='eric', phone='7041519')
db.session.add(au)
db.session.commit()
au = Author(name='elliot', phone='7041520')
db.session.add(au)
db.session.commit()
au = Author(name='elaine', phone='7041521')
db.session.add(au)
db.session.commit()
au = Author(name='elizabirth', phone='7041522')
db.session.add(au)
db.session.commit()
Author.query.all()

In [7]:
# 创建12篇文章
from app import Article
num = Article.query.count()
for i in range(12):
    at = Article(title='article title' + str(i+1), body='I have a dream, one day I have' + str(i+1) + 'wives')
    db.session.add(at)
    db.session.commit()

Article.query.all()

[<Article 'article title1'>,
 <Article 'article title2'>,
 <Article 'article title3'>,
 <Article 'article title4'>,
 <Article 'article title5'>,
 <Article 'article title6'>,
 <Article 'article title7'>,
 <Article 'article title8'>,
 <Article 'article title9'>,
 <Article 'article title10'>,
 <Article 'article title11'>,
 <Article 'article title12'>]

In [5]:
import random
from app import Article,db
# 这里为每篇文章添加作者id, 四个作者, 随机1-4
# 需要注意的是, 数据库的id是从1开始的, 而range是从0开始的, 因此要+1
for i in range(12):
    a = Article.query.get(i+1)
    a.author_id = random.randint(1,4)
    db.session.commit()

In [13]:
# 查看每个作者的文章
from app import Author
for i in range(4):
    a = Author.query.get(i+1)
    print(a.articles)

[<Article 'article title2'>, <Article 'article title7'>, <Article 'article title8'>, <Article 'article title10'>, <Article 'article title11'>]
[<Article 'article title3'>, <Article 'article title4'>]
[<Article 'article title1'>, <Article 'article title6'>, <Article 'article title9'>]
[<Article 'article title5'>, <Article 'article title12'>]